
#memberList{
  thead{
    background-color: #2567b3;
    color: white;
  }

}

.teamCapsule{
  border-radius: 500px;
  margin: 2px;
  background-color: #2567b3;
  width: fit-content;
  display: inline;
  padding: 5px;
  padding-left: 10px;
  padding-right: 10px;
  color: white;
  &:hover{
    background-color: #4d92e0;
  }
}